header {
  background-color: aqua;
}

.body {
  background-color: aquamarine;
}

.header {
  background-color: burlywood;
}

h1 {
  color: blueviolet;
}

h2 {
  color: chocolate;
}

h3 {
  color: crimson;
}