@import "header";

.body {
	background-color: aquamarine;
}

.header {
	background-color: burlywood;
}

h1 {
	color: blueviolet;
}

h2 {
	color: chocolate;
}

h3 {
	color: crimson;
}

h4 {
	color: rgb(148, 6, 112);
}