@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,500;1,700&display=swap");
/* null style */
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/* null style */
.wrapper {
  background: url(../img/fon/ice-cream-1.png) 50% 100px no-repeat, url(../img/fon/lighting1.png) 50% 0 no-repeat, #849d8f;
  font-family: "Roboto", sans-serif;
  min-width: 900px;
  min-height: 100%;
  overflow: hidden;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto 1fr auto;
      grid-template-rows: auto 1fr auto;
}

.container {
  padding: 23px 27px 0px 27px;
  max-width: 1200px;
  margin: 0 auto;
}

.header a {
  color: #ffffff;
}

.header {
  width: 100%;
}

.header__row {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
      grid-template-areas: "left-side right-side" "info info";
}

.header__left-side {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: left-side;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 1fr;
      grid-template-columns: auto 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo-link {
  margin: 0px 23px 0px 0px;
}

.header__logo {
  margin: -13px 0 0 0;
}

.header__list {
  display: -ms-inline-grid;
  display: inline-grid;
  -ms-grid-columns: auto auto auto;
      grid-template-columns: auto auto auto;
}

.header__item a {
  font-size: 16px;
  font-weight: 700;
  white-space: nowrap;
  line-height: 18px;
  border-bottom: 1px solid #ffffff50;
  letter-spacing: 1px;
}

.header__item:nth-child(2) {
  margin: 0 30px;
}

.header__right-side {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: right-side;
  display: -ms-inline-grid;
  display: inline-grid;
  -ms-grid-columns: 1fr auto auto;
      grid-template-columns: 1fr auto auto;
  -ms-flex-line-pack: start;
      align-content: start;
  margin: 9px 0px 0px 0px;
}

.header__right-side a {
  font-size: 14px;
  font-weight: 500;
  white-space: nowrap;
  line-height: 16px;
}

.header__search {
  background-color: #9db1a5;
  border-radius: 50px;
  height: 32px;
  width: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__search a {
  display: block;
}

.header__input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #9db1a5;
  border-radius: 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 32px;
  padding: 10px 16px;
  margin: 0 10px;
}

.header__input-img {
  margin: 0px 4px 0px 0px;
}

.header__input-text {
  margin: 0px 0px 0px 4px;
}

.header__basket {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #9db1a5;
  border-radius: 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 32px;
  padding: 10px 16px;
}

.header__basket-img {
  margin: 0px 4px 0px 0px;
}

.header__basket-text {
  margin: 0px 0px 0px 4px;
}

.header__info {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: info;
  text-align: end;
  margin: 10px 0;
}

.header__info-time {
  color: #ffffff;
  font-size: 14px;
  font-weight: 500;
  white-space: nowrap;
  line-height: 16px;
}

.header__info-phone {
  font-size: 22px;
  font-weight: 500;
  white-space: nowrap;
  line-height: 24px;
}

.content {
  position: relative;
}

.content__hidden-h {
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
}

.content__slider-block {
  text-align: center;
  height: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px 0px 45px 0px;
  font-size: 60px;
  font-weight: 700;
  color: #ffffff;
}

.content__slider-1 {
  width: 63%;
  min-width: 700px;
}

.content__slider-2 {
  width: 63%;
  min-width: 700px;
  display: none;
}

.content__slider-3 {
  width: 63%;
  min-width: 700px;
  display: none;
}

.content__slider-nav {
  width: 100%;
  margin: 27px 0px 0px 0px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr auto 1fr;
      grid-template-columns: 1fr auto 1fr;
  -ms-grid-rows: 66px;
      grid-template-rows: 66px;
}

.content__slider-nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content__slider-nav-list ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.content__slider-nav-list li {
  border: 1px solid #ffffff;
  border-radius: 50%;
  height: 21px;
  width: 21px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.content__slider-nav-list li:nth-child(2) {
  margin: 0 8px;
}

.content__slider-nav-list-active {
  background-color: #ffffff;
}

.content__slider-button {
  background: -webkit-gradient(linear, left bottom, left top, from(#e74a35), to(#f26843));
  background: linear-gradient(0deg, #e74a35 0%, #f26843 100%);
  -webkit-box-shadow: 0px 2px 2px rgba(172, 16, 0, 0.64);
          box-shadow: 0px 2px 2px rgba(172, 16, 0, 0.64);
  border-radius: 50px;
  padding: 0px 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content__slider-button a {
  color: #ffffff;
  font-size: 32px;
  font-weight: 700;
  line-height: 44px;
}

.content__banners {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  gap: 26px;
  color: #ffffff;
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
  margin-bottom: 40px;
}

.content__banners-block-raspberry {
  background: url(../img/fon/raspberry.jpg) no-repeat;
}

.content__banners-block-chocolate {
  background: url(../img/fon/chocolate.jpg) no-repeat;
}

.content__banners-block {
  border-radius: 20px;
  background-size: cover;
  padding: 21px;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto auto auto;
      grid-template-rows: auto auto auto;
}

.content__banners-block h2 {
  font-size: 35px;
  line-height: 41px;
  margin-bottom: 30px;
}

.content__banners-block p {
  margin-bottom: 50px;
}

.content__banners-button {
  background: -webkit-gradient(linear, left bottom, left top, from(#e74a35), to(#f26843));
  background: linear-gradient(0deg, #e74a35 0%, #f26843 100%);
  -webkit-box-shadow: 0px 2px 2px rgba(172, 16, 0, 0.64);
          box-shadow: 0px 2px 2px rgba(172, 16, 0, 0.64);
  border-radius: 50px;
  height: 46px;
  padding: 11px 20px;
  display: inline-block;
  text-align: center;
  -ms-grid-column-align: end;
      justify-self: end;
}

.content__banners-button a {
  color: #ffffff;
  line-height: 24px;
  letter-spacing: 1px;
}

.content__hits {
  margin-bottom: 40px;
  color: #ffffff;
}

.content__hits-list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  gap: 26px;
}

.content__hits-item {
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (auto)[4];
      grid-template-rows: repeat(4, auto);
}

.content__hits-img-hit {
  position: absolute;
  top: 0;
  left: 0;
}

.content__hits-img-product {
  width: 100%;
}

.content__hits-price {
  font-size: 45px;
  line-height: 13px;
  font-weight: 700;
  text-shadow: 0.5px 0.9px 3px rgba(49, 50, 53, 0.5);
  -webkit-transform: translate(0, -40px);
          transform: translate(0, -40px);
}

.content__hits-price span {
  font-size: 30px;
  font-weight: 700;
}

.content__hits-link {
  text-align: center;
}

.content__hits-link a {
  color: #ffffff;
  border-bottom: 1px solid #ffffff50;
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
}

.content__seo {
  background: url(../img/fon/waffle.jpg) 0 0/100% 100% no-repeat;
  border-radius: 20px;
  padding: 20px 30px;
  color: #323232;
  font-size: 16px;
  line-height: 22px;
  margin-bottom: 40px;
}

.content__seo h2 {
  font-size: 24px;
  line-height: 30px;
  font-weight: 500;
  margin-bottom: 30px;
}

.content__seo-advantages {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (1fr)[2];
  -ms-grid-columns: (1fr)[2];
      grid-template: repeat(2, 1fr)/repeat(2, 1fr);
  gap: 21px;
}

.content__seo-advantage-area {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (auto)[2];
      grid-template-columns: repeat(2, auto);
  gap: 15px;
}

.content__seo-advantage-area img {
  -webkit-transform: translate(0, -15px);
          transform: translate(0, -15px);
}

.content__news-mailing {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  gap: 26px;
  margin-bottom: 40px;
}

.content__news {
  background: url(../img/fon/strawberry.jpg) 50%/cover no-repeat;
  border-radius: 20px;
  padding: 20px;
  color: #323232;
}

.content__news h3 {
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  margin-bottom: 15px;
}

.content__news a {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  color: #323232;
  border-bottom: 1px solid #323232;
}

.content__news div {
  width: 60%;
}

.content__mailing {
  background: url(../img/fon/mail.jpg) 0 0/100% 100% no-repeat;
  border-radius: 20px;
  padding: 6px;
}

.content__mailing-area {
  background-color: #f8f7f4;
  border-radius: 20px;
  padding: 20px;
  font-size: 16px;
  line-height: 22px;
  color: #5a5a5a;
}

.content__mailing-area p {
  margin-bottom: 40px;
}

.content__mailing-form {
  margin-bottom: 15px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr auto;
      grid-template-columns: 1fr auto;
}

.content__mailing-mail {
  border: 1px solid #d3d3d2;
  border-radius: 5px;
  height: 40px;
  margin-right: 10px;
  padding: 15px;
}

.content__mailing-button {
  background: -webkit-gradient(linear, left bottom, left top, from(#e74a35), to(#f26843));
  background: linear-gradient(0deg, #e74a35 0%, #f26843 100%);
  -webkit-box-shadow: 0px 2px 2px rgba(172, 16, 0, 0.64);
          box-shadow: 0px 2px 2px rgba(172, 16, 0, 0.64);
  border-radius: 50px;
  height: 40px;
  padding: 0 15px;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 1px;
  color: #ffffff;
}

.content__address {
  background: url(../img/map.jpg) 50% 50%/cover no-repeat;
  height: 550px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #323232;
}

.content__address-container {
  padding: 0 27px;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3] 310px;
      grid-template-columns: repeat(3, 1fr) 310px;
}

.content__address-block {
  grid-area: addresblock;
  background-color: #fffffe;
  border-radius: 20px;
  padding: 30px 25px;
}

.content__address-text {
  font-size: 14px;
  line-height: 20px;
}

.content__address-bold-text {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}

.content__address-button {
  background: -webkit-gradient(linear, left bottom, left top, from(#e74a35), to(#f26843));
  background: linear-gradient(0deg, #e74a35 0%, #f26843 100%);
  -webkit-box-shadow: 0px 2px 2px rgba(172, 16, 0, 0.64);
          box-shadow: 0px 2px 2px rgba(172, 16, 0, 0.64);
  border-radius: 50px;
  height: 40px;
  padding: 8px 15px;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 1px;
  margin-top: 30px;
  text-align: center;
}

.content__address-button a {
  color: #ffffff;
}

.footer a {
  color: #ffffff;
  border-bottom: 1px solid #ffffff50;
}

.footer {
  padding: 12px 0 25px 0;
}

.footer__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__social-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__social-icon {
  margin: 0 5px;
}

.footer__social-icon:first-child {
  margin: 0px 5px 0px 0px;
}

.footer__social-icon:last-child {
  margin: 0px 0px 0px 5px;
}

.footer__social-icon a {
  border-bottom: 0px;
}

.footer__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  padding: 0 0 0 20px;
  font-size: 13px;
  line-height: 18px;
}

.footer__nav-img {
  position: absolute;
  top: 0;
  left: 0;
}

.footer__list {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto auto;
      grid-template-rows: auto auto;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
  -webkit-column-gap: 30px;
          column-gap: 30px;
}

.footer__list-item {
  letter-spacing: 1px;
  white-space: nowrap;
}

.footer__item-bold {
  font-weight: 700;
}

.footer__logo {
  color: #ffffff;
  font-size: 12px;
}

.footer__logo img {
  margin: 0 0 8px 0;
}
