@import "null.css";

body {
	font-family: Arial, Helvetica, sans-serif;
}

h1 {
	color: #445161;
	font-size: 30px;
}
h2 {
	color: #445161;
	font-size: 25px;
}
h3 {
	color: #445161;
	font-size: 20px;
}
.text {
	color: #333333;
	line-height: 25px;
}
.bold {
	color: #333333;
	font-weight: 700;
}
.red {
	color: #ff0000;
}
.right {
	color: #333333;
	text-align: right;
}
.uppercase {
	color: #333333;
	text-transform: uppercase;
}
.italic {
	color: #333333;
	font-style: italic;
}
.underline {
	color: #333333;
	text-decoration: underline;
}
.center {
	color: #333333;
	text-align: center;
}
.fontsize24 {
	color: #333333;
	font-size: 24px;
}
.linethrough {
	color: #333333;
	text-decoration: line-through;
}
.timesnewroman {
	color: #333333;
	font-family: "Times New Roman", Times, serif;
}
.shadowtext {
	color: #333333;
	text-shadow: 1px 1px 1px #000000;
}
