html {
	box-sizing: border-box;
}

*,
*::after,
*::before {
	box-sizing: inherit;
}

a {
	text-decoration: none;
}

.container {
	max-width: 1220px;
	padding: 0 10px;
	margin: 0 auto;
}

body {
	font-family: "Roboto Condensed", sans-serif;
	font-weight: 400;
	font-size: 16px;
	line-height: 19px;
	color: #1b1818;
}

.header {
	background: #332208;

	&__inner {
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: 100px;
	}
}

.menu {
	&__list {
		display: flex;
	}

	&__item {
		margin: 0 15px;
	}

	&__list-link {
		text-transform: uppercase;
		font-size: 18px;
		line-height: 21px;
		color: #fefefe;
		white-space: nowrap;
		padding-bottom: 5px;
		transition: all 500ms;
		border-bottom: 1px solid transparent;
	}

	&__list-link:hover {
		border-bottom: 1px solid #fefefe;
	}
}
.phone {
	font-size: 18px;
	line-height: 21px;
	color: #fefefe;
	white-space: nowrap;
}

.top {
	padding-bottom: 100px;

	&__heading {
		display: flex;
		padding: 50px 0 30px;
	}

	&__content {
		text-align: center;
		padding-top: 90px;
		width: 50%;
	}

	&__title {
		font-family: "Fira Sans", sans-serif;
		font-weight: 500;
		font-size: 48px;
		line-height: 58px;
		margin: 0 auto 20px;
		max-width: 455px;
	}

	&__text {
		font-size: 24px;
		line-height: 28px;
		margin: 0 auto 60px;
		max-width: 470px;
	}

	&__slider {
		width: 50%;
	}

	&__slider-img {
		width: 100%;
	}

	&__slider-text {
		font-family: "Fira Sans", sans-serif;
		font-weight: 500;
		font-size: 16px;
		line-height: 19px;
		padding-right: 100px;
		text-align: right;
	}

	&__slider-text span + span {
		padding-left: 12px;
	}

	&__bottom {
		display: flex;
		align-items: flex-end;
		justify-content: space-between;
	}

	&__items {
		width: 50%;
		display: flex;
		justify-content: space-around;
	}

	&__item {
		border: 1px solid #1b1818;
		padding: 10px;
		width: 150px;
		height: 150px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-around;
		text-align: center;
		box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
		cursor: pointer;
		transition: all 500ms;
	}

	&__item:nth-child(2) {
		margin: 0 10px;
	}

	&__item:hover {
		transform: scale(1.25);
	}

	&__links {
		padding-right: 80px;
	}

	&__link {
		color: #1b1818;
		border-bottom: 1px solid #1b1818;
		padding-bottom: 5px;
	}

	&__link {
		margin-left: 20px;
	}
}

.application-btn {
	text-transform: uppercase;
	color: #fefefe;
	background: #c5ac2d;
	padding: 16px 19px 15px;
	transition: all 500ms;
	border: 1px solid transparent;
	display: inline-block;
}

.application-btn:hover {
	color: #c5ac2d;
	background: #fefefe;
	border: 1px solid #c5ac2d;
}

.top__slider .slick-dots {
	position: absolute;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
}

.slick-dots {
	list-style: none;
	text-align: center;
}

.slick-dots button {
	font-size: 0;
	width: 8px;
	height: 8px;
	background-color: #332208;
	border: none;
	border-radius: 50%;
	padding: 0;
}

.slick-active button {
	width: 16px;
	height: 16px;
}

.rent {
	padding: 100px 0;

	&__inner {
		display: flex;
		justify-content: space-between;
	}

	&__content {
		min-height: 350px;
		width: 300px;
		padding: 0 15px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: flex-start;
	}

	&__title {
		font-size: 24px;
		line-height: 29px;
		font-family: "Fira Sans", sans-serif;
		font-weight: 500;
		margin-bottom: 30px;
	}

	&__text {
		margin-bottom: 20px;
	}

	&__text + &__text {
		margin-bottom: auto;
	}

	&__item {
		border: 1px solid #332208;
		width: 250px;
		min-height: 350px;
		padding: 0 35px 20px;
		text-align: center;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
		cursor: pointer;
		transition: all 500ms;
	}

	&__item:hover {
		transform: scale(1.25);
	}

	&__item-num {
		font-family: "Fira Sans", sans-serif;
		font-weight: 500;
		font-size: 96px;
		line-height: 115px;
		color: #1b1818;
		opacity: 0.06;
	}

	&__item-title {
		font-family: "Fira Sans", sans-serif;
		font-weight: 500;
		font-size: 18px;
		line-height: 22px;
	}

	&__item:nth-child(3) {
		margin: 0 10px;
	}
}

.benefits {
	padding: 100px 0;

	&__title {
		font-family: "Fira Sans", sans-serif;
		font-weight: 500;
		font-size: 24px;
		line-height: 29px;
		margin-bottom: 50px;
	}

	&__items {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__list {
		width: 300px;
		list-style: none;
	}

	&__list-item {
		margin-bottom: 27px;
		padding-right: 26px;
		position: relative;
		text-align: right;
	}

	&__list-item::after {
		content: "";
		position: absolute;
		width: 16px;
		height: 16px;
		border-radius: 50%;
		background: #332208;
		right: 0;
		top: 2px;
	}

	&__list-item:nth-child(1),
	&__list-item:nth-child(7) {
		margin-right: 10px;
	}

	&__list-item:nth-child(2),
	&__list-item:nth-child(6) {
		margin-right: 60px;
	}

	&__list-item:nth-child(3),
	&__list-item:nth-child(5) {
		margin-right: 110px;
	}

	&__list-item:nth-child(4) {
		margin-right: 157px;
	}

	&__content {
		width: 300px;
		text-align: right;
	}

	&__text {
		margin-bottom: 30px;
	}

	&__text + &__text {
		width: 267px;
		margin-left: auto;
	}
}

.video-popup {
	display: inline-block;
	background: #c5ac2d;
	text-transform: uppercase;
	color: #fefefe;
	padding: 6px 34px 6px 64px;
	text-align: center;
	position: relative;
	transition: all 500ms;
	border: 1px solid transparent;
}

.video-popup::before {
	content: "";
	position: absolute;
	width: 25px;
	height: 25px;
	background: url(../img/icon/play.svg) no-repeat;
	top: 50%;
	transform: translateY(-50%);
	left: 34px;
}

.video-popup:hover {
	color: #c5ac2d;
	background: #332208;
	border: 1px solid #c5ac2d;
}

.reviews {
	padding: 100px 0;
	background: #332208;
	color: #fefefe;

	&__title {
		font-family: "Fira Sans", sans-serif;
		font-weight: 500;
		font-size: 24px;
		line-height: 29px;
		padding-bottom: 70px;
	}

	&__item {
		border: 1px solid #c5ac2d;
		width: 270px;
		min-height: 300px;
		padding: 45px 30px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		text-align: center;
		margin-right: 30px;
		cursor: pointer;
		transition: all 500ms;
	}

	&__item:hover {
		transform: scale(0.97);
	}

	&__item-name {
		font-family: "Fira Sans", sans-serif;
		font-weight: 500;
		font-size: 24px;
		line-height: 29px;
	}

	&__slider .slick-dots button {
		background-color: #c5ac2d;
		margin: 0 5px;
		line-height: 12px;
	}

	&__slider .slick-dots {
		display: flex;
		align-items: center;
		justify-content: center;
		margin-top: 35px;
	}
}

.slick-initialized .reviews__item {
	display: flex;
}

.feedback {
	padding: 100px 0;

	&__inner {
		display: flex;
		align-items: center;
	}

	&__img {
		width: 50%;
	}

	&__form {
		width: 415px;
		margin: 0 auto;
	}

	&__title {
		font-family: "Fira Sans", sans-serif;
		font-weight: 500;
		font-size: 24px;
		line-height: 29px;
		margin-bottom: 5px;
	}

	&__text {
		margin-bottom: 50px;
	}

	&__input {
		display: block;
		padding: 20px 0;
		width: 100%;
		border: none;
		border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	}

	&__input::placeholder {
		color: #1b1818;
		font-family: "Roboto Condensed", sans-serif;
		font-weight: 400;
		font-size: 16px;
		line-height: 19px;
	}

	&__btn {
		text-transform: uppercase;
		color: #fefefe;
		display: inline-block;
		padding: 15px 36px;
		background-color: #c5ac2d;
		margin-top: 50px;
		font-family: "Roboto Condensed", sans-serif;
		font-weight: 400;
		font-size: 16px;
		line-height: 19px;
		cursor: pointer;
		transition: all 500ms;
		border: 1px solid transparent;
	}
	&__btn:hover {
		color: #c5ac2d;
		background: #fefefe;
		border: 1px solid #c5ac2d;
	}
}

.footer {
	padding: 100px 0 24px;
	background: #332208;

	&__top {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-bottom: 21px;
	}

	&__social {
		list-style: none;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	&__social-item {
		margin: 0 15px;
		transition: 500ms;
	}

	&__social-item:hover {
		transform: scale(1.25);
	}
}
