.content {
	&__address {
		background: url(../img/map.jpg) 50% 50% / cover no-repeat;
		height: 550px;
		display: flex;
		align-items: center;
		justify-content: center;
		color: #323232;
	}

	&__address-container {
		padding: 0 27px;
		width: 100%;
		display: grid;
		grid-template-columns: repeat(3, 1fr) 310px;
	}

	&__address-block {
		grid-area: addresblock;
		background-color: #fffffe;
		border-radius: 20px;
		padding: 30px 25px;
	}

	&__address-text {
		font-size: 14px;
		line-height: 20px;
	}

	&__address-bold-text {
		font-size: 18px;
		line-height: 24px;
		font-weight: 700;
	}

	&__address-button {
		background: linear-gradient(0deg, #e74a35 0%, #f26843 100%);
		box-shadow: 0px 2px 2px rgba(172, 16, 0, 0.64);
		border-radius: 50px;
		height: 40px;
		padding: 8px 15px;
		font-weight: 700;
		font-size: 18px;
		line-height: 24px;
		letter-spacing: 1px;
		margin-top: 30px;
		text-align: center;
	}
	&__address-button a {
		color: #ffffff;
	}
}
