.content {
	&__hits {
		margin-bottom: 40px;
		color: #ffffff;
	}

	&__hits-list {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		gap: 26px;
	}

	&__hits-item {
		position: relative;
		display: grid;
		grid-template-rows: repeat(4, auto);
	}

	&__hits-img-hit {
		position: absolute;
		top: 0;
		left: 0;
	}

	&__hits-img-product {
		width: 100%;
	}

	&__hits-price {
		font-size: 45px;
		line-height: 13px;
		font-weight: 700;
		text-shadow: 0.5px 0.9px 3px rgba(49, 50, 53, 0.5);
		transform: translate(0, -40px);
	}

	&__hits-price span {
		font-size: 30px;
		font-weight: 700;
	}

	&__hits-link {
		text-align: center;
	}

	&__hits-link a {
		color: #ffffff;
		border-bottom: 1px solid #ffffff50;
		font-size: 16px;
		line-height: 22px;
		font-weight: 500;
	}
}
