.footer a {
	color: #ffffff;
	border-bottom: 1px solid #ffffff50;
}
.footer {
	//height: 102px;
	padding: 12px 0 25px 0;
	&__row {
		display: flex;
		justify-content: space-between;
	}

	&__social-row {
		display: flex;
	}

	&__social-icon {
		margin: 0 5px;
	}
	&__social-icon:first-child {
		margin: 0px 5px 0px 0px;
	}
	&__social-icon:last-child {
		margin: 0px 0px 0px 5px;
	}
	&__social-icon a {
		border-bottom: 0px;
	}

	&__nav {
		display: flex;
		position: relative;
		padding: 0 0 0 20px;
		font-size: 13px;
		line-height: 18px;
	}

	&__nav-img {
		position: absolute;
		top: 0;
		left: 0;
	}

	&__list {
		display: grid;
		grid-template-rows: auto auto;
		grid-template-columns: auto auto;
		column-gap: 30px;
	}

	&__list-item {
		letter-spacing: 1px;
		white-space: nowrap;
	}

	&__item-bold {
		font-weight: 700;
	}

	&__logo {
		color: #ffffff;
		font-size: 12px;
	}
	&__logo img {
		margin: 0 0 8px 0;
	}
}
