.header {
	//border: 1px solid #000;
	background-color: #849d8f;
	&__row {
		display: flex;
		justify-content: space-between;
		margin-top: 20px;
		//border: 1px solid #000;
		font-size: 16px;
		line-height: 18px;
	}
	&__left-side {
		display: flex;
		align-items: center;
		//border: 1px solid #000;
	}
	&__logo-link {
		margin-right: 25px;
	}
	&__logo {
		margin-top: -10px;
		//border: 1px solid #000;
	}
	//&__nav {
	//}
	&__list {
		display: flex;
		//border: 1px solid #000;
	}
	&__list li:nth-child(2) {
		padding: 0px 30px;
	}
	//&__item {
	//}
	&__item a {
		color: #ffffff;
		border-bottom: 1px solid #ffffff50;
	}
	&__right-side {
		display: flex;
		align-items: center;
		//border: 1px solid #000;
	}
	&__search {
		height: 32px;
		width: 32px;
		border-radius: 50%;
		background-color: #9db1a6;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	//&__search-img {
	//}
	&__input {
		height: 32px;
		width: 92px;
		border-radius: 30px 30px 30px 30px;
		background-color: #9db1a6;
		display: flex;
		justify-content: center;
		align-items: center;
		margin: 0 10px;
	}
	&__input-img {
		margin-right: 4px;
	}
	&__input-text {
		margin-left: 4px;
	}
	&__input-text a {
		color: #ffffff;
	}
	&__basket {
		height: 32px;
		width: 100px;
		border-radius: 30px 30px 30px 30px;
		background-color: #9db1a6;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	&__basket-img {
		margin-right: 4px;
	}
	&__basket-text {
		margin-left: 4px;
	}
	&__basket-text a {
		color: #ffffff;
	}
	&__info {
		text-align: right;
		margin-top: 19px;
		//border: 1px solid #000;
	}
	&__info-time {
		font-size: 14px;
		line-height: 16px;
		color: #ffffff;
		margin-bottom: 5px;
	}
	&__info-phone {
		font-size: 22px;
		line-height: 24px;
		color: #ffffff;
	}
}
