.header a {
	color: #ffffff;
}

.header {
	width: 100%;
	&__row {
		display: grid;
		justify-content: space-between;
		//border: 2px solid rgb(167, 29, 29);
		grid-template-columns: auto auto;
		grid-template-areas:
			"left-side right-side"
			"info info";
	}

	&__left-side {
		grid-area: left-side;
		display: grid;
		grid-template-columns: auto 1fr;
		align-items: center;
	}

	&__logo-link {
		margin: 0px 23px 0px 0px;
	}

	&__logo {
		margin: -13px 0 0 0;
	}

	&__list {
		display: inline-grid;
		grid-template-columns: auto auto auto;
	}

	&__item a {
		font-size: 16px;
		font-weight: 700;
		white-space: nowrap;
		line-height: 18px;
		border-bottom: 1px solid #ffffff50;
		letter-spacing: 1px;
	}
	&__item:nth-child(2) {
		margin: 0 30px;
	}

	&__right-side {
		grid-area: right-side;
		display: inline-grid;
		grid-template-columns: 1fr auto auto;
		align-content: start;
		margin: 9px 0px 0px 0px;
	}
	&__right-side a {
		font-size: 14px;
		font-weight: 500;
		white-space: nowrap;
		line-height: 16px;
	}

	&__search {
		background-color: #9db1a5;
		border-radius: 50px;
		height: 32px;
		width: 32px;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	&__search a {
		display: block;
	}

	&__input {
		display: flex;
		background-color: #9db1a5;
		border-radius: 50px;
		align-items: center;
		height: 32px;
		padding: 10px 16px;
		margin: 0 10px;
	}

	&__input-img {
		margin: 0px 4px 0px 0px;
	}

	&__input-text {
		margin: 0px 0px 0px 4px;
	}

	&__basket {
		display: flex;
		background-color: #9db1a5;
		border-radius: 50px;
		align-items: center;
		height: 32px;
		padding: 10px 16px;
	}

	&__basket-img {
		margin: 0px 4px 0px 0px;
	}

	&__basket-text {
		margin: 0px 0px 0px 4px;
	}

	&__info {
		grid-area: info;
		text-align: end;
		margin: 10px 0;
	}

	&__info-time {
		color: #ffffff;
		font-size: 14px;
		font-weight: 500;
		white-space: nowrap;
		line-height: 16px;
	}

	&__info-phone {
		font-size: 22px;
		font-weight: 500;
		white-space: nowrap;
		line-height: 24px;
	}
}
