@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");
@font-face {
  font-family: "Georgia";
  src: url("../fonts/georgia.eot");
  src: local("☺"), url("../fonts/georgia.woff") format("woff"), url("../fonts/georgia.ttf") format("truetype"), url("../fonts/georgia.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Georgia";
  src: url("../fonts/georgiab.eot");
  src: local("☺"), url("../fonts/georgiab.woff") format("woff"), url("../fonts/georgiab.ttf") format("truetype"), url("../fonts/georgiab.svg") format("svg");
  font-weight: 700;
  font-style: normal;
}

*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
  display: inline-block;
  color: inherit;
}

.body {
  font-family: "Lato", sans-serif;
  color: #505050;
  font-size: 16px;
  line-height: 28px;
  font-weight: 400;
}

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.container-content {
  max-width: 970px;
  margin: 0 auto;
}

.section-line {
  border-bottom: 1px solid rgba(208, 212, 216, 0.5);
}

.header__top {
  padding: 40px;
  background-image: url("../images/top-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.header__top-inner {
  font-family: "Georgia";
  border: 2px solid #ecb84c;
  border-bottom: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #ffffff;
  height: 100%;
}

.header__title {
  font-weight: 700;
  font-size: 200px;
  line-height: 227px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
  margin: auto;
}

.header__text {
  font-size: 24px;
  line-height: 27px;
  text-shadow: 0px 2px 1px rgba(0, 0, 0, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  white-space: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: -12px;
}

.header__text::after, .header__text::before {
  content: "";
  border-top: 2px solid #ecb84c;
  width: 100%;
}

.header__text::after {
  margin-left: 30px;
}

.header__text::before {
  content: "";
  margin-right: 30px;
}

.menu {
  border-bottom: 1px solid rgba(208, 212, 216, 0.5);
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__list-link {
  font-family: "Lato", sans-serif;
  padding: 24px 10px 20px;
  margin: 0 6px;
  font-weight: 700;
  font-size: 14px;
  line-height: 19px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #909090;
  -webkit-transition: all 500ms;
  transition: all 500ms;
  border-bottom: 4px solid transparent;
}

.menu__list-link:hover {
  color: #4e5665;
  border-bottom: 4px solid #ecb84c;
}

.reason {
  padding: 80px 0 0;
}

.reason__title {
  font-family: "Georgia";
  font-size: 32px;
  text-align: center;
  color: #4e5665;
  padding-bottom: 22px;
}

.reason__link {
  text-align: right;
  margin-bottom: 36px;
}

.reason__link a {
  font-weight: 700;
  color: #ecb84c;
}

.reason__statistics {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding-bottom: 80px;
}

.reason__statistics-img {
  margin-bottom: 32px;
}

.reason__statistics-num {
  font-weight: 700;
  font-size: 22px;
  line-height: 30px;
  color: #4e5665;
}

.reason__statistics-text {
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #909090;
}
