@import "null.scss";

/* ------- Basic style ------- */

body {
	padding: 100px;
	background-color: #e8e8e8;
	font-family: Arial, Helvetica, sans-serif;
	color: #273d46;
	font-size: 20px;
	line-height: 1.8;
	text-align: left;
}

body li {
	background: url(../img/icons/check-icon-blue.png) 0 5px no-repeat;
	padding: 0 0 0 35px;
}

.title {
	text-transform: uppercase;
	font-size: 14px;
	line-height: 2.86;
	letter-spacing: 2.8px;
	color: #000000;
	margin: 0 0 24px 0;
}

// .paragraph1{}

.paragraph1__ul li:first-child {
	text-decoration: line-through;
}

.paragraph1__ul li:nth-child(2) {
	font-weight: 700;
}

.paragraph1__ul li:nth-child(3) {
	font-style: italic;
}

.paragraph1__ul li:last-child {
	text-transform: uppercase;
	margin: 0 0 81px 0;
}

// .paragraph2{}

.paragraph2__ul li:last-child {
	margin: 0 0 137px 0;
}

.paragraph2__ul li:nth-child(2):hover {
	background: url(../img/icons/check-icon-red.png) 0 5px no-repeat;
	color: red;
}

.par-link {
	font-size: 14px;
	line-height: 2.86;
	letter-spacing: 2.8px;
	text-align: left;
	text-transform: uppercase;
	margin: 0 0 125px 0;
}

.link {
	background: rgba(128, 183, 179, 1);
	border-radius: 30px;
	box-shadow: 0px 6px 40px 0 rgba(128, 183, 179, 0.54);
	padding: 15px 30px;
	color: #ffffff;
}

.link:hover {
	background: rgba(58, 88, 86, 1);
}

.link:active {
	background: rgba(129, 129, 129, 1);
}

.form-input {
	margin: 0 0 300px 0;
	height: 50px;
	width: 292px;
	border: solid 1px #b0b0b0;
	font-size: 25px;
}

.form-input:focus {
	border: solid 1px #7fbed5;
	box-shadow: 0 0 20px 0 rgba(127, 190, 213, 0.93);
}
