.block-clock {
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
}

.clock {
  position: relative;
  width: 60%;
  padding: 10px 0;
  background: rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 15px 25px rgba(0, 0, 0, 0.2);
          box-shadow: 0 15px 25px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.15);
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  -webkit-animation: animate 10s ease-in-out infinite;
          animation: animate 10s ease-in-out infinite;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
}

@-webkit-keyframes animate {
  0%,
  100% {
    -webkit-transform: translateX(10%);
            transform: translateX(10%);
  }
  50% {
    -webkit-transform: translateX(-10%);
            transform: translateX(-10%);
  }
}

@keyframes animate {
  0%,
  100% {
    -webkit-transform: translateX(10%);
            transform: translateX(10%);
  }
  50% {
    -webkit-transform: translateX(-10%);
            transform: translateX(-10%);
  }
}

.clock .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.clock .today {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1em;
}

#dayWeek {
  padding: 5px 15px;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.1);
  -webkit-box-shadow: 0 15px 25px rgba(0, 0, 0, 0.4);
          box-shadow: 0 15px 25px rgba(0, 0, 0, 0.4);
  margin: 15px 10px 0px 10px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  font-size: 1.2em;
}

.clock .container h2 {
  font-size: 1.2em;
}

.clock .container h2:nth-child(odd) {
  padding: 5px 15px;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.1);
  -webkit-box-shadow: 0 15px 25px rgba(0, 0, 0, 0.4);
          box-shadow: 0 15px 25px rgba(0, 0, 0, 0.4);
  margin: 0 10px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  width: 60px;
}

.clock .container #seconds {
  color: #f9d524;
}
