.main {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	&__stream {
		width: 50%;
		margin: 0 auto;
		border: 1px solid #00000020;
		margin: 15px 0;
		padding: 25px;
		border-radius: 20px;
		background-color: rgb(143, 189, 216);
		color: #00000090;
		font-size: 1.5em;
		text-align: center;
	}

	//&__event-feed-row {
	//}

	&__stream-text {
		//text-transform: uppercase;
		font-weight: 500;
		margin: 15px;
	}

	&__stream-text span {
		font-size: 1.3em;
		display: block;
		margin-bottom: 25px;
	}

	//&__stream-text-list {
	//}

	&__stream-text-item {
		margin: 10px 0;
	}

	&__stream-text-item::before {
		content: "-";
		margin-right: 10px;
	}
}
