@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap");
@import "_null";

.wrapper {
	width: 100%;
	height: 100vh;
	overflow: auto;
	scroll-behavior: smooth;
	scroll-snap-type: y mandatory;
	font-family: "Montserrat", sans-serif;
	font-weight: 300;
	font-size: 1em;
	color: #ffffff;

	a {
		color: #ffffff;
	}
}

.top-block {
	position: relative;
	background: url(../img/bg1.jpg) 0 0 / cover;
	background-attachment: fixed;
}
.fs-block {
	width: 100%;
	height: 100vh;
	scroll-snap-align: start;
	display: flex;
	align-items: center;
	justify-content: center;
}

.header {
	background-color: #00000050;
	padding: 20px 20px;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;

	&__areas {
		display: grid;
		grid-template-rows: auto auto;
		justify-items: center;
	}

	&__logo {
		font-size: 3em;
		padding-bottom: 15px;
		text-shadow: 1px 1px 1px #000000, 0 0 1em #ffffff;
	}

	&__logo a {
		border-bottom: none;
	}

	&__nav {
		font-size: 1.2em;
	}

	&__list {
		display: -ms-grid;
		display: grid;
		grid-template-columns: repeat(8, auto);
		justify-items: center;
	}

	&__items {
		padding: 0 7px;
		white-space: nowrap;
	}

	&__items-nav-drop-list img {
		transform: translate(3px, 5px);
	}

	&__items:last-child img {
		-transform: translate(-1px, 1px);
	}
}

.event {
	display: flex;
	align-items: center;
	justify-content: center;
	padding-top: 100px;

	&__article {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-wrap: wrap;
		width: 1200px;
		transform-style: preserve-3d;
		font-size: 0.9em;
		text-shadow: 1px 1px 1px #000000, 0 0 1em #ffffff;
	}

	&__article-box {
		position: relative;
		width: 350px;
		margin: 10px;
		transform-style: preserve-3d;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	&__article-img {
		width: 100%;
		border-radius: 5px;
	}

	&__article-parson {
		position: absolute;
		top: 10px;
		text-align: center;
		width: 70%;
		transform-style: preserve-3d;
		transform: translete3d(0, 0, 75px);
		transition: 0.5s;
		padding: 5px;
		background: #00000050;
		border-radius: 5px;
		border: 1px solid #ffffff40;
	}

	&__article-name-date-block {
		position: absolute;
		bottom: 0;
		margin: 5px;
		text-align: center;
		width: 90%;
		transform-style: preserve-3d;
		transform: translete3d(0, 0, 75px);
		transition: 0.5s;
		background: #00000060;
		border-radius: 7px;
		border: 1px solid #ffffff40;
	}

	&__article-name-date-block a {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	&__article-box:hover &__article-name-date-block {
		background: #0000ff30;
	}

	&__article-name {
		padding: 5px;
		font-size: 1.1em;
		font-weight: 400;
		line-height: 1.2em;
	}

	&__article-date {
		text-align: center;
		width: 50%;
		padding: 5px;
		border-top: 1px solid #ffffff40;
	}
}

.center-block {
	background: url(../img/bg2.jpg) 0 0 / cover;
	background-attachment: fixed;
}
.message {
	font-size: 5em;
}
.bottom-block {
	position: relative;
	background: url(../img/bg3.png) 0 0 / cover;
	background-attachment: fixed;
}
.worship {
	font-size: 5em;
}
.footer {
	position: absolute;
	bottom: 0;
	left: 0;
}
